<div class="top-panel-list {{className}}">
    <div class="top-panel-list__wrap-buttons">
        {{> buttonLink className="top-panel-list__button-user-settings" href="/user-settings" text="Профиль"}}
    </div>
    <div class="top-panel-list__search-wrapper">
        <input
                type="text"
                class="top-panel-list__search"
                placeholder="Поиск"
        >
    </div>
</div>
