<div class="dialog-footer {{classNameDialogFooter}}">
    <button class="dialog-footer__button-attachment">
        <svg viewBox="0 0 32 32">
            <use href="/assets/icons/sprite.svg#attachment"/>
        </svg>
    </button>
    <input class="dialog-footer__text-field" type="text" name="message" placeholder="Сообщение">
    <button class="dialog-footer__button-send">
        <svg viewBox="0 0 13 12">
            <use href="/assets/icons/sprite.svg#arrowSend"/>
        </svg>
    </button>
</div>
