<div class="chats-list {{className}}">
    {{> companion name="Олег" text="Привет, как жизнь" time="10:30" undeadCount="1" classNameCompanion="chats-list__first-companion"}}
    {{> companion name="Никита" text="Привет, как жизнь" time="10:31" undeadCount="10" classNameCompanion="companion_bordered_top"}}
    {{> companion name="Дмитрий" text="Привет, как жизнь" time="10:30" undeadCount="100" classNameCompanion="companion_bordered_top"}}
    {{> companion name="Максим" text="Привет, как жизнь" time="10:30" undeadCount="1000" classNameCompanion="companion_bordered_top companion_bordered_bottom"}}
</div>
