<div class="userSettings">
    <div class="userSettings__back-button">
        left
    </div>
    <div class="userSettings__profile-wrapper">
        <div class="userSettings__profile">
            <div class="userSettings__avatar"></div>
            <div class="userSettings__name">Имя</div>
            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Почта</div>
                <div class="userSettings__profile-field-value">test@test.ru</div>
            </div>
            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Логин</div>
                <div class="userSettings__profile-field-value">testLogin</div>
            </div>
            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Имя</div>
                <div class="userSettings__profile-field-value">Тест</div>
            </div>
            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Фамилия</div>
                <div class="userSettings__profile-field-value">Тестов</div>
            </div>
            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Имя в чате</div>
                <div class="userSettings__profile-field-value">Имя</div>
            </div>
            <div class="userSettings__wrap-profile-field userSettings__wrap-profile-field_no-border-bottom userSettings__wrap-progile-margi-bottom">
                <div class="userSettings__profile-field-key">Телефон</div>
                <div class="userSettings__profile-field-value">+79603744427</div>
            </div>

            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Изменить данные</div>
            </div>
            <div class="userSettings__wrap-profile-field">
                <div class="userSettings__profile-field-key">Изменить пароль</div>
            </div>
            <div class="userSettings__wrap-profile-field userSettings__wrap-profile-field_no-border-bottom">
                <div class="userSettings__profile-field-key">Выйти</div>
            </div>
        </div>
    </div>
</div>
