<div class="user-settings__profile-info-wrapper">
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name user-settings__profile-field-name_clickable">
                Почта
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <span class="user-settings__profile-field-value">
                pochta@yandex.ru
            </span>
        </div>
    </div>
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name user-settings__profile-field-name_clickable">
                Логин
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <span class="user-settings__profile-field-value">
                ivanivanov
            </span>
        </div>
    </div>
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name user-settings__profile-field-name_clickable">
                Имя
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <span class="user-settings__profile-field-value">
                Иван
            </span>
        </div>
    </div>
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name user-settings__profile-field-name_clickable">
                Фамилия
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <span class="user-settings__profile-field-value">
                Иванов
            </span>
        </div>
    </div>
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name user-settings__profile-field-name_clickable">
                Имя в чате
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <span class="user-settings__profile-field-value">
                Иван
            </span>
        </div>
    </div>
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name user-settings__profile-field-name_clickable">
                Телефон
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <span class="user-settings__profile-field-value">
                +7 (909) 967 30 30
            </span>
        </div>
    </div>
</div>
<div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
    <div class="user-settings__profile-field-name-wrapper">
        <a class="user-settings__profile-field-name user-settings__profile-field-name_clickable user-settings__profile-field-name_colored_blue"
           href="/user-settings?edit-mode=profile-info"
        >
            Изменить данные
        </a>
    </div>
</div>
<div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
    <div class="user-settings__profile-field-name-wrapper">
        <a class="user-settings__profile-field-name user-settings__profile-field-name_clickable user-settings__profile-field-name_colored_blue"
           href="/user-settings?edit-mode=password"
        >
            Изменить пароль
        </a>
    </div>
</div>
<div class="user-settings__profile-field">
    <div class="user-settings__profile-field-name-wrapper">
        <a class="user-settings__profile-field-name user-settings__profile-field-name_clickable user-settings__profile-field-name_colored_red"
           href="/log-in"
        >
            Выйти
        </a>
    </div>
</div>
