<div class="input-primary {{className}}">
    <input
            id="{{id}}"
            type="{{type}}"
            class="input-primary__input"
            placeholder="{{placeholder}}"
    >
</div>
