<div class="chats-list {{className}}">
    {{> companion name="Олег" isOwnLastMessage="true" text="Привет, как жизнь" time="10:30" undeadCount="1" classNameCompanion="chats-list__first-companion"}}
    {{> companion name="Никита" text="Привет, как жизнь" time="10:31" undeadCount="10" isBorderTop="true"}}
    {{> companion name="Дмитрий" isOwnLastMessage="true" text="Привет, как жизнь" time="10:30" undeadCount="100" isBorderTop="true"}}
    {{> companion name="Максим" text="Привет, как жизнь" time="10:30" undeadCount="1000" isBorderTop="true" isBorderBottom="true"}}
</div>
