<div class="message {{classNameMessage}}">
    <div class="message__text-wrapper">
        {{textMessage}}
    </div>
    <div class="message__meta-wrapper">
        <div class="message__read-status"></div>
        <div class="message__time">{{timeMessage}}</div>
    </div>
</div>
