<div class="message {{#if isOwnMessage}}message_owner_mine{{else}}message_owner_companion{{/if}} {{classNameMessage}}">
    <div class="message__text-wrapper">
        {{textMessage}}
    </div>
    <div class="message__meta-wrapper">
        {{#if isOwnMessage}}
            <div class="message__read-status-wrapper">
                <svg class="message__read-status-icon" viewBox="0 0 11 5">
                    <use href="/assets/icons/sprite.svg#readMessageStatus"/>
                </svg>
            </div>
        {{/if}}
        <div class="message__time">{{timeMessage}}</div>
    </div>
</div>
