<div class="dialog-header {{classNameDialogHeader}}">
    <div class="dialog-header__companion-wrapper">
        <div class="dialog-header__avatar"></div>
        <div class="dialog-header__companion-name">Собеседник</div>
    </div>
    <div class="dialog-header__options-wrapper">
        <svg class="dialog-header__options-button" viewBox="0 0 3 16">
            <use href="/assets/icons/sprite.svg#dots"/>
        </svg>
    </div>
</div>
