<div class="something-went-wrong">
        <div class="something-went-wrong__wrapper">
        <div class="something-went-wrong__title">{{errorNumber}}</div>
        <div class="something-went-wrong__description">{{description}}</div>
        <a href="/chats" class="something-went-wrong__back-link">Назад к чатам</a>
    </div>
</div>
