<div class="user-settings__profile-info-wrapper user-settings__profile-info-wrapper_mode_edit-password">
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name"
               href="/user-settings?edit-mode=profile-info"
            >
                Старый пароль
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <input class="user-settings__profile-field-value" type="password" name="oldPassword" value="123456789">
        </div>
    </div>
    <div class="user-settings__profile-field user-settings__profile-field_bordered_bottom">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name"
               href="/user-settings?edit-mode=password"
            >
                Новый пароль
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <input class="user-settings__profile-field-value" type="password" name="newPassword" value="12345678901">
        </div>
    </div>
    <div class="user-settings__profile-field">
        <div class="user-settings__profile-field-name-wrapper">
            <span class="user-settings__profile-field-name"
               href="/log-in"
            >
                Повторите новый пароль
            </span>
        </div>
        <div class="user-settings__profile-field-value-wrapper">
            <input class="user-settings__profile-field-value" type="password" name="newPasswordRepeat" value="12345678901">
        </div>
    </div>
</div>
{{> button className="user-settings__button-save" text="Сохранить"}}
