<div class="card-log-in">
    <div class="card-log-in__title">
        Вход
    </div>
    <form class="card-log-in__form">
        {{> input id="login" type="text" placeholder="Логин"}}
        {{> input id="password" type="password" placeholder="Пароль"}}
    </form>
    <div class="card-log-in__wrap-footer">
        {{> button className="card-log-in__button-submit" text="Авторизоваться"}}
        <a href="/sign-in" class="card-log-in__button-sign-in">
            Нет аккаунта ?
        </a>
    </div>
</div>
