<div class="card">
    <div class="card__title">
        Вход
    </div>
    <form class="card__form">
        <input
                type="text"
                class="card__input"
                placeholder="Логин"
        >
        <input
                type="password"
                class="card__input"
                placeholder="Пароль"
        >
    </form>
    <div class="card__wrap-footer">
        <button class="card__button-submit">
            Авторизоваться
        </button>
        <a href="/sign-in" class="card__button-appeal">
            Нет аккаунта ?
        </a>
    </div>
</div>
