.card {
    width: 340px;
    border-radius: 12px;
    padding: 50px 30px 30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #1E1E1E;
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-bottom: 169px;
    }

    &__wrap-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
    }

    &__button-submit {
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
    }

    &__button-appeal {
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #3369F3;
        cursor: pointer;
        text-decoration: none;
    }
}
