<div class="card">
    <div class="card__title">
        Вход
    </div>
    <form class="card__form">
        {{> input id="login" className="" type="text" placeholder="Логин"}}
        {{> input id="password" type="password" placeholder="Пароль"}}
    </form>
    <div class="card__wrap-footer">
        {{> button className="card__button-submit" text="Авторизоваться"}}
        <a href="/sign-in" class="card__button-appeal">
            Нет аккаунта ?
        </a>
    </div>
</div>
