<div class="chats">
    <div class="chats__wrapper-list">
        <div class="chats__top-panel">
            <a class="chats__button-user-settings" href="/user-settings">Профиль</a>
            <form class="chats__form">
                <input
                        type="text"
                        class="chats__search"
                        placeholder="Поиск"
                >
            </form>
        </div>
        <div class="chats__wrap-list">
            <div class="interlocutor">
                <div class="interlocutor__avatar"></div>
                <div class="interlocutor__wrap-message">
                    <div class="interlocutor__name">
                        Собеседник
                    </div>
                    <div class="interlocutor__last-message">
                        <span class="interlocutor__last-message-owner">Вы:</span>
                        <span>Текст сообщения</span>
                    </div>
                </div>
                <div class="interlocutor__wrap-meta">
                    <div class="interlocutor__time">10:49</div>
                    <div class="interlocutor__unread-count">
                        <span>2</span>
                    </div>
                </div>
            </div>
            <div class="interlocutor">
                <div class="interlocutor__avatar"></div>
                <div class="interlocutor__wrap-message">
                    <div class="interlocutor__name">
                        Собеседник
                    </div>
                    <div class="interlocutor__last-message">
                        <span class="interlocutor__last-message-owner">Вы:</span>
                        <span>Текст сообщения</span>
                    </div>
                </div>
                <div class="interlocutor__wrap-meta">
                    <div class="interlocutor__time">10:49</div>
                    <div class="interlocutor__unread-count">
                        <span>2</span>
                    </div>
                </div>
            </div>
            <div class="interlocutor">
                <div class="interlocutor__avatar"></div>
                <div class="interlocutor__wrap-message">
                    <div class="interlocutor__name">
                        Собеседник
                    </div>
                    <div class="interlocutor__last-message">
                        <span class="interlocutor__last-message-owner">Вы:</span>
                        <span>Текст сообщения</span>
                    </div>
                </div>
                <div class="interlocutor__wrap-meta">
                    <div class="interlocutor__time">10:49</div>
                    <div class="interlocutor__unread-count">
                        <span>2</span>
                    </div>
                </div>
            </div>
            <div class="interlocutor">
                <div class="interlocutor__avatar"></div>
                <div class="interlocutor__wrap-message">
                    <div class="interlocutor__name">
                        Собеседник
                    </div>
                    <div class="interlocutor__last-message">
                        <span class="interlocutor__last-message-owner">Вы:</span>
                        <span>Текст сообщения</span>
                    </div>
                </div>
                <div class="interlocutor__wrap-meta">
                    <div class="interlocutor__time">10:49</div>
                    <div class="interlocutor__unread-count">
                        <span>2</span>
                    </div>
                </div>
            </div>
            <div class="interlocutor">
                <div class="interlocutor__avatar"></div>
                <div class="interlocutor__wrap-message">
                    <div class="interlocutor__name">
                        Собеседник
                    </div>
                    <div class="interlocutor__last-message">
                        <span class="interlocutor__last-message-owner">Вы:</span>
                        <span>Текст сообщения</span>
                    </div>
                </div>
                <div class="interlocutor__wrap-meta">
                    <div class="interlocutor__time">10:49</div>
                    <div class="interlocutor__unread-count">
                        <span>2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chats__wrapper-messages">
        messages
    </div>
</div>
