@import "interlocutor";
@import "messages";

.chats {
  height: 100%;
  display: flex;

  &__wrapper-list {
    width: 310px;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    background-color: #FBFBFB;
    box-sizing: border-box;
    border-right: 1px solid #EAEAEA;
  }

  &__top-panel {
    margin-bottom: 14px;
    text-align: end;
  }

  &__button-user-settings {
    text-decoration: none;
    color: #999999;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  &__search {
    margin: 23px 0;
    background-color: #EFEFEF;
    color: #999999;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: none;
  }

  &__wrap-list {
    border-top: 1px solid #EAEAEA;
    overflow-y: auto;
    height: calc(100% - (98.5px + 14px));
  }

  &__wrapper-messages {
    padding: 10px 10px 0;
    width: calc(100% - 310px);
  }

  &__messages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #EAEAEA;
    box-sizing: border-box;
  }

  &__wrap-messages-header-interlocutor {
    display: flex;
    align-items: center;
  }

  &__messages-header-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #EFEFEF;
  }

  &__messages-header-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #1E1E1E;
    padding-left: 10px;
  }

  &__messages-footer {
    height: 66px;
    border-top: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__messages-input {
    width: 100%;
    height: 32px;

    background-color: #EFEFEF;
    color: #999999;
    border: none;
    border-radius: 30px;
  }

  &__messages-button-addition {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  &__messages-submit {
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: #3369F3;
    border-radius: 50%;
    color: #FFFFFF;
  }
}
