<div class="card-sign-in">
    <div class="card-sign-in__title">
        Вход
    </div>
    <form class="card-sign-in__form">
        {{> input id="login" className="card-sign-in__input" type="email" placeholder="Почта"}}
        {{> input id="login" className="card-sign-in__input" type="text" placeholder="Логин"}}
        {{> input id="login" className="card-sign-in__input" type="text" placeholder="Имя"}}
        {{> input id="login" className="card-sign-in__input" type="text" placeholder="Фамилия"}}
        {{> input id="login" className="card-sign-in__input" type="tel" placeholder="Телефон"}}
        {{> input id="login" className="card-sign-in__input" type="password" placeholder="Пароль"}}
        {{> input id="login" className="card-sign-in__input" type="text" placeholder="Пароль (еще раз)"}}
    </form>
    <div class="card-sign-in__wrap-footer">
        {{> button className="card-sign-in__button-submit" text="Зарегестрироваться"}}
        <a href="/log-in" class="card-sign-in__button-log-in">
            Войти
        </a>
    </div>
</div>
