<div class="card-signIn">
    <div class="card-signIn__title">
        Вход
    </div>
    <form class="card-signIn__form">
        <input
                type="email"
                class="card-signIn__input"
                placeholder="Почта"
        >
        <input
                type="text"
                class="card-signIn__input"
                placeholder="Логин"
        >
        <input
                type="text"
                class="card-signIn__input"
                placeholder="Имя"
        >
        <input
                type="text"
                class="card-signIn__input"
                placeholder="Фамилия"
        >
        <input
                type="tel"
                class="card-signIn__input"
                placeholder="Телефон"
        >
        <input
                type="password"
                class="card-signIn__input"
                placeholder="Пароль"
        >
        <input
                type="password"
                class="card-signIn__input"
                placeholder="Пароль (еще раз)"
        >
    </form>
    <div class="card-signIn__wrap-footer">
        <button class="card-signIn__button-submit">
            Зарегестрироваться
        </button>
        <a href="/log-in" class="card-signIn__button-appeal">
            Войти
        </a>
    </div>
</div>
