// colors
$color-primary: #3369F3;

// text colors:
$color-text-black: #1E1E1E;
$color-text-gray: #999999;

// background colors:
$background-color-panel-gray: #FBFBFB;

// border colors:
$color-border-primary: #EAEAEA;


